<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/w3.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>{{ title | upper }}</title>
    </head>

    <body>
    <div class = "w3-bar w3-blue w3-padding w3-container">
        <h3> {{ title | upper }} </h3>
    </div>

    <div class="w3-container w3-padding">
        {% block content %}

        {% endblock %}
    </div>
    <hr>
    <div class="w3-center"> Kyle Andre Lim @copy; 2023</div>
    </body>

</html>